[submodule "testdata/hyperledger-fabric-chaincode"]
	path = testdata/hyperledger-fabric-chaincode
	url = https://github.com/TommyStarK/hyperledger-fabric-chaincode
[submodule "testdata/hyperledger-fabric-network"]
	path = testdata/hyperledger-fabric-network
	url = https://github.com/TommyStarK/hyperledger-fabric-network
  branch = v2.3-solo-raft
